include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Газета Светлогорского района Калининградской области "Вестник Светлогорска"
  body
    .wrapper
      .container
        section.section.welcome-section#welcome
          header.header
            .header__menu
              - var menu = [['Об издании', 'Рекламодателям', 'Контакты'], ['main', 'popular', 'short']];
              ul.header__menu-list
                each item, index in menu[0]
                  li.header__menu-item
                    a.header__menu-link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
              - var icons = ["version"];
              ul.header__menu-version.version
                each item in icons
                  li.version__item
                    a(href="#").version__link
                      +icon(item, "version__icon")
              .header__menu-age +16


            .header__main
              .header__logo
                +image('content/logo.jpg', 'header__logo-img')
              .header__links
                .header__links-socials
                  - var icons = ["vk", "facebook", "odnoklassniki", "twitter", "insta"];
                    ul.socials.header__socials
                      each item in icons
                        li.socials__item
                          a(href="#").socials__link
                            +icon(item, "socials__icon")
                .header__utility
                  .burger-menu#hamburger-menu-link
                    - var icons = ["menu"]
                      each item in icons
                        +icon(item, "menu-icon")
                  .search#search-link
                    label.search__block
                      input(type="text" name="name" onfocusout="myFocusFunction" placeholder="Поиск по сайту ..." required).search__input
                    - var icons = ["search"]
                      each item in icons
                        +icon(item, "search-icon")
            nav.hamburger-menu#hamburger-menu
              - var menu = [['Экономика', 'Власть', 'События', 'Ваше здоровье', 'Общество', 'Проишествия', 'Официально', 'Образование', 'Культура'], ['main', 'popular', 'short', 'short', 'short', 'officially', 'slider-form', 'slider-form', 'slider-form']];
              ul.menu__list
                each item, index in menu[0]
                  li.menu__item
                    a.menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
              - var icons = ["vk", "facebook", "odnoklassniki", "twitter", "insta"];
              ul.socials.hamburger-menu__socials
                each item in icons
                  li.socials__item
                    a.socials__link(href="#" target="_blank")
                      +icon(`${item}`, 'socials__icon')
              a.close-button#close-nav-button(href="#")
                +icon('remove', 'close-button__img', '20')

          nav.nav-menu
            - var menu = [['Экономика', 'Власть', 'События', 'Ваше здоровье', 'Общество', 'Проишествия', 'Официально', 'Образование', 'Культура'], ['main', 'popular', 'short', 'short', 'short', 'officially', 'slider-form', 'slider-form', 'slider-form']];
            ul.nav-menu__list
              each item, index in menu[0]
                li.nav-menu__item
                  a.nav-menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
        main.main
          section.section.news#main
            h1.section__title Главное
            .news__row.news__row--active
              .news__item
                h3.news__title.news__title--active Международный стратегический форум по интеллектуальной собственности IPQuorum 2019
                p.news__intro.news__intro--active С 10 по 12 апреля 2019 года в Калининграде состоится международный стратегический форум по интеллектуальной собственности IPQuorum 2019. ...
                .news__data.news__data--active 19 Июня 2020 | 17:40
              +image("content/top-news.jpg", "img--big news__img")
            .news__row
              .news__item
                h3.news__title В Калининградской области проходит крупнейший в России форум по вопросам интеллектуальной собственности
                p.news__intro С 10 по 12 апреля 2019 года в Калининграде состоится международный стратегический форум по интеллектуальной собственности IPQuorum 2019. Ключевой темой станет «IP код ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                h3.news__title Калининградский закон об охране зеленых насаждений принят в первом чтении
                p.news__intro В настоящий момент в регионе отсутствует единая система по управлен ию зелеными насаждениями и их восстановлению, а положения действующей редакции закона не выполняются в полной мере ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                h3.news__title Стартовал конкурс студенческих работ «Профстажировки 2.0» собственности
                p.news__intro Стартует вторая волна конкурса студенческих работ проекта «Профстажировки 2.0». «Профстажировки 2.0» - огромный выбор интересных тем для научной работы ...
                .news__data 19 Июня 2020 | 17:40
          section.section.popular#popular
            h1.section__title Популярные публикации
            .news__row.news__row--active
              .news__item
                h3.news__title.news__title--active Не попадитесь на уловки мошенников!
                p.news__intro.news__intro--active В последнее время участились случаи, когда нечистые на руку дельцы, не имея на то никаких оснований, призывают пенсионеров обращаться к ним за бесплатной юридической консультацией для якобы перерасчета пенсий граждан.
                .news__data.news__data--active 19 Июня 2020 | 17:40
              .news__image
                +image("content/popular.jpg", "img--big popular__img")
                .tag Власть
            .news__row
              .news__item
                .news__image
                  +image("content/1.jpg", "img popular__img")
                  .tag Экономика
                h3.news__title Стартовал конкурс студенческих работ «Профстажировки 2.0» собственности
                p.news__intro Огромный выбор интересных тем для научной работы, приглашение на стажировку на конкретном предприятии, опытные наставники, предложение о работе после стажировки для самых ... лучших и многое другое. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/2.jpg", "img popular__img")
                  .tag События
                h3.news__title Алексей Архиповский Концерт
                p.news__intro Архиповский желанный гость на самых престижных концертных площадках мира. Ему аплодировали президенты и королевские особы, его выступления принимаются зрителями с восторгом, где бы он не играл – на лужайке Белого Дома или в церковном соборе, на стадионе или камерном концертном зале. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/3.jpg", "img popular__img")
                  .tag Ваше здоровье
                h3.news__title Исследователь БФУ им. И. Канта представляет «вакцину от старости»
                p.news__intro Недавно в научном журнале Expert Review of Vaccines вышла статья главного научного сотрудника Центра медицинских биотехнологий БФУ им. Канта профессора Виктора Селедцова и научного ...
                .news__data 19 Июня 2020 | 17:40
            .news__row
              .news__item
                .news__image
                  +image("content/1.jpg", "img popular__img")
                  .tag Экономика
                h3.news__title Стартовал конкурс студенческих работ «Профстажировки 2.0» собственности
                p.news__intro Огромный выбор интересных тем для научной работы, приглашение на стажировку на конкретном предприятии, опытные наставники, предложение о работе после стажировки для самых ... лучших и многое другое. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/2.jpg", "img popular__img")
                  .tag События
                h3.news__title Алексей Архиповский Концерт
                p.news__intro Архиповский желанный гость на самых престижных концертных площадках мира. Ему аплодировали президенты и королевские особы, его выступления принимаются зрителями с восторгом, где бы он не играл – на лужайке Белого Дома или в церковном соборе, на стадионе или камерном концертном зале. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/3.jpg", "img popular__img")
                  .tag Ваше здоровье
                h3.news__title Исследователь БФУ им. И. Канта представляет «вакцину от старости»
                p.news__intro Недавно в научном журнале Expert Review of Vaccines вышла статья главного научного сотрудника Центра медицинских биотехнологий БФУ им. Канта профессора Виктора Селедцова и научного ...
                .news__data 19 Июня 2020 | 17:40
            .news__row
              .news__item
                .news__image
                  +image("content/1.jpg", "img popular__img")
                  .tag Экономика
                h3.news__title Стартовал конкурс студенческих работ «Профстажировки 2.0» собственности
                p.news__intro Огромный выбор интересных тем для научной работы, приглашение на стажировку на конкретном предприятии, опытные наставники, предложение о работе после стажировки для самых ... лучших и многое другое. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/2.jpg", "img popular__img")
                  .tag События
                h3.news__title Алексей Архиповский Концерт
                p.news__intro Архиповский желанный гость на самых престижных концертных площадках мира. Ему аплодировали президенты и королевские особы, его выступления принимаются зрителями с восторгом, где бы он не играл – на лужайке Белого Дома или в церковном соборе, на стадионе или камерном концертном зале. ...
                .news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/3.jpg", "img popular__img")
                  .tag Ваше здоровье
                h3.news__title Исследователь БФУ им. И. Канта представляет «вакцину от старости»
                p.news__intro Недавно в научном журнале Expert Review of Vaccines вышла статья главного научного сотрудника Центра медицинских биотехнологий БФУ им. Канта профессора Виктора Селедцова и научного ...
                .news__data 19 Июня 2020 | 17:40
          section.section.short#short
            .short__wrapper
              .news__column
                h1.section__title В регионе
                .news__item.news__item--vertical
                  h3.news__title.news__title--short ОМВД России по Ленинградскому району напоминает гражданам о порядке приема и регистрации заявлений и сообщений
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short В Черняховске мужчина угнал автомобиль работодателя и попал в ДТП
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Планерная: ездить можно, но очень внимательно
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Житель Советска во время празднования дня рождения знакомого ограбил прохожего
                  .news__data.news__data--short 19 Июня 2020 | 17:40
              .news__column
                h1.section__title В России
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Эксперты о статье президента России, посвященной 75-летию Победы
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Главы МИД России и Белоруссии подписали соглашение о взаимном признании виз
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short В Кремле прокомментировали задержание претендента на пост президента Белоруссии Бабарико
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Тульская медсестра в бикини стала лицом спортивного бренда
                  .news__data.news__data--short 19 Июня 2020 | 17:40
              .news__column
                h1.section__title В мире
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Глава ВОЗ заявил, что мир вступил в новую опасную фазу пандемии коронавируса
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short ВОЗ решила прекратить испытания гидроксихлорохина для борьбы с COVID-19
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short Эксперт: после окончания пандемии мир ждут большие экономические проблемы (ВИДЕО)Эксперт: после окончания пандемии мир ждут большие экономические проблемы (ВИДЕО)Эксперт: после окончания пандемии мир ждут большие экономические проблемы (ВИДЕО)
                  .news__data.news__data--short 19 Июня 2020 | 17:40
                .news__item.news__item--vertical
                  h3.news__title.news__title--short В Пусане задержали четырех российских моряков за попытку ввоза наркотиков в Южную Корею
                  .news__data.news__data--short 19 Июня 2020 | 17:40
            .news__row.news__row--link 
          section.section.officially#officially
            h1.section__title Официально
            .news__row
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
            .news__row
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
              .news__item
                .news__image
                  +image("content/officially1.jpg", "img--small popular__img")
                h3.news__title.news__title Прокурор Центрального района г. Калининграда разъясняет
                .news__data.news__data 19 Июня 2020 | 17:40
            .news__row.news__row--link 
          section.section.slider-form#slider-form
            .news__row.news__row--slider-form
              .slider__container
                .slider-form__wrapper
                  .news__column
                    h1.section__title.section__title--slider-form Фотогалерея
                    .slider__wrapper
                      .slider__left
                        - var icons = ["arrow-down"]
                          each item in icons
                            +icon(item, "slider-arrow--left slider-arrow")
                      .slider__main
                        .slider__item
                          +image("content/slider1.jpg", "img--slider slider-img popular__img")
                          h3.news__title.news__title--slider Управляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий Управляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режиме
                          .news__data.news__data--slider 19 Июня 2020 | 17:40
                        .slider__item
                          +image("content/1.jpg", "img--slider slider-img popular__img")

                          h3.news__title.news__title--slider Управляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режиме 
                          .news__data.news__data--slider 19 Июня 2020 | 17:40
                        .slider__item
                          +image("content/2.jpg", "img--slider slider-img popular__img")

                          h3.news__title.news__title--slider Управляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режимеУправляющий ОПФР по Калининградской области рассказала об упрощении назначения ряда пенсий и пособий в проактивном режиме 
                          .news__data.news__data--slider 19 Июня 2020 | 17:40

                      .slider__right
                        - var icons = ["arrow-down"]
                          each item in icons
                            +icon(item, "slider-arrow--right slider-arrow")
                  .news__column
                    h1.section__title.section__title--slider-form Обратная связь
                    .form__wrapper
                      form.form#form
                        .form__row
                          label.form__block
                            input(type="text" name="name" placeholder="Имя" required).form__input.form__input--name
                        .form__row
                          label.form__block
                            input(type="email" name="name" placeholder="Ваш E-mail" required).form__input.form__input--email
                        .form__row
                          label.form__block
                            textarea(name="comment" placeholder="Текст сообщения (123 символа) ... " required).form-input.form-input__textarea
                        .g-recaptcha
                          +image("content/captcha.jpg", "img--captcha img")
                        .form__row
                          input(type="text" name="" placeholder="Введите код с картинки" required).form__input.form__input--name
                          .form__error
                        .form__row
                          input(type="submit" value="Отправить").form__button#sendButton  
              .news__row--socials
                - var icons = ["vk", "facebook", "odnoklassniki", "twitter", "insta"];
                  ul.socials
                    each item in icons
                      li.socials__item
                        a(href="#").socials__link
                          +icon(item, "socials__icon")
              nav.nav-menu
                - var menu = [['Экономика', 'Власть', 'События', 'Ваше здоровье', 'Общество', 'Проишествия', 'Официально', 'Образование', 'Культура'], ['main', 'popular', 'short', 'short', 'short', 'officially', 'slider-form', 'slider-form', 'slider-form']];
                ul.nav-menu__list
                  each item, index in menu[0]
                    li.nav-menu__item
                      a.nav-menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
        footer.footer
          .footer__left
            .contacts
              .contacts__address
                span.bold Адрес редакции:  <br>
                p 238560, Калининградская область, <br>г. Светлогорск, <br> Калининградский проспект, 77а
              .contacts__phone
                span.bold Телефон/факс: <br>
                p 8 (40153) 333-05
              .contacts__email      
                span.bold E-mail:
                p info@svetvestnik.ru
          .footer__right
            p.text Перепечатка материалов – с разрешения редакции.<br>За достоверность рекламы ответственность несёт рекламодатель.<br>Все рекламируемые товары и услуги подлежат сертификации и лицензированию.<br>Мнения авторов и редакции могут не совпадать.
            p.info Справки по объявлениям - у рекламодателя
            p.copyright © Вестник Светлогорска «svetvestnik.ru» 2020 <br> © Информационное агентство Инфорос 2020 

      .button-to-top 
        a(href="#welcome")
          .button-to-top__wrapper
            - var icons = ["arrow-down"]
              each item in icons
                +icon(item, "arrow-up__icon")

